{% extends 'base.html' %}

{% block title %} CinePlus | Movies {% endblock title %}

{% load static %}
{% block body %}
<!-- Movies -->

<div class="container movie-section">
  {% for movie in movies %}
  <div class="row align-items-center mt-3">
    <div class="col-md-4 mb-4">
     <img src="{{ movie.poster.url }}" alt="Movie Poster" class="movie-poster" />
    </div>
    <div class="col-md-8 movie-info">
      <h1 class="mb-3">{{ movie.name }}</h1>
      <div class="rating mb-3"><strong>Rating: ⭐ </strong> {{ movie.rate }}/5</div>
      <p><strong>Cast:</strong> {{ movie.cast }} </p>
      <p class="mt-3">
        <strong>Description:</strong>  {{ movie.description }}
      </p>
      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <a href="{% url 'ticket' movie.id %}" class="btn btn-outline-danger mt-4">Book Tickets</a>
    </div>
  </div>
  {% endfor %}

</div>


{% endblock body %}