{% extends 'base.html' %}
{% load static %}

{% block title %} CinePlus {% endblock title %}

{% block body %}

<!-- Carousel -->
<div class="container">
     {% if messages %}
    {% for message in messages %}
     <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-2 text-center" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
        </div>
        <div class="carousel-inner rounded-">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545858/banner1_v3rud1.jpg" class="d-block w-100" alt="Banner 1">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545859/banner3_kph1ww.jpg" class="d-block w-100" alt="Banner 2">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545860/banner2_oxqq5h.jpg" class="d-block w-100" alt="Banner 3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <div class="my-5"></div>
    <h3 class="text-dark text-left my-3" id="movies"> New Released Movies </h3>
    <div class="swiper mySwiper py-4 px-2">
  <div class="swiper-wrapper">

    <!-- Slide 1 -->
    <div class="swiper-slide">
      <div class="card h-100">
         <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546127/movie1_rgqnse.jpg" class="card-img-top object-fit-contain" style="height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Bhool chuk maaf</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui consectetur fugiat fuga tempore natus.</p>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="swiper-slide">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546127/movie2_yoqf9q.jpg" class="card-img-top object-fit-contain" style="height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Mission Impossible</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam quae sapiente porro cumque dolorem.</p>
        </div>
      </div>
    </div>

    <!-- Slide 3 -->
    <div class="swiper-slide">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546127/movie3_u9l0dr.jpg" class="card-img-top object-fit-contain" style="height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Raid 2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat possimus saepe unde laudantium.</p>
        </div>
      </div>
    </div>

    <!-- Slide 4 -->
    <div class="swiper-slide">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546127/movie4_kspigy.jpg" class="card-img-top object-fit-contain" style="height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Final Destination</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempore natus exercitationem molestiae.</p>
        </div>
      </div>
    </div>

    <!-- Slide 5 -->
    <div class="swiper-slide">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546128/movie5_n3rivk.jpg" class="card-img-top object-fit-contain" style="height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Bharam</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam sapiente distinctio in.</p>
        </div>
      </div>
    </div>

    <!-- Slide 6 -->
    <div class="swiper-slide">
      <div class="card h-100">
        <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546128/movie6_e4lfyu.jpg" class="card-img-top object-fit-contain" style="height: 300px;" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">Kesari Veer</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat unde totam laudantium.</p>
        </div>
      </div>
    </div>

  </div>

  <!-- Swiper Controls -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>

    <div class="my-4">
        <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546323/baner_c7f50r.png" class="object-fit-cover w-100 h-100" alt="...">
    </div>


    <h3 class="text-dark text-left " id="events"> The Best Live Events </h3>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide d-flex align-items-center justify-content-center bg-light rounded"
                style="height: 200px;">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545988/event1_tb2g8n.png" class="img-fluid rounded"
                    style="max-height: 100%; object-fit: contain;" alt="Event 1">
            </div>
            <div class="swiper-slide d-flex align-items-center justify-content-center bg-light rounded"
                style="height: 200px;">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545988/event2_e8ok0b.png" class="img-fluid rounded"
                    style="max-height: 100%; object-fit: contain;" alt="Event 2">
            </div>
            <div class="swiper-slide d-flex align-items-center justify-content-center bg-light rounded"
                style="height: 200px;">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545989/event3_i7p0sz.png" class="img-fluid rounded"
                    style="max-height: 100%; object-fit: contain;" alt="Event 3">
            </div>
            <div class="swiper-slide d-flex align-items-center justify-content-center bg-light rounded"
                style="height: 200px;">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545989/event4_q9wagm.png" class="img-fluid rounded"
                    style="max-height: 100%; object-fit: contain;" alt="Event 4">
            </div>
            <div class="swiper-slide d-flex align-items-center justify-content-center bg-light rounded"
                style="height: 200px;">
                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749545989/event5_lxerld.jpg" class="img-fluid rounded"
                    style="max-height: 100%; object-fit: contain;" alt="Event 5">
            </div>
        </div>

        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


    <section class="bg-dark text-white py-5 mb-5" id="premieres">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <h4 class="fw-bold mb-1">Premieres</h4>
                    <small class="text-white">Brand new releases every Friday</small>
                </div>
            </div>

            <div class="swiper mySwiper1">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="bg-dark rounded overflow-hidden">
                            <div class="position-relative" style="aspect-ratio: 2/3;">
                                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546215/preme1_uhryxd.jpg" class="w-100 h-100 object-fit-cover rounded"
                                    alt="...">
                            </div>
                            <div class="mt-3">
                                <h5 class="mb-0 fw-semibold">Souleymane's Story</h5>
                                <h5 class="text-white">French</h5>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-dark rounded overflow-hidden">
                            <div class="position-relative" style="aspect-ratio: 2/3;">
                                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546215/preme2_x117vc.jpg" class="w-100 h-100 object-fit-cover rounded"
                                    alt="...">
                                <div class="mt-3">
                                    <h5 class="mb-0 fw-semibold">MeanWhile On Earth</h5>
                                    <h5 class="text-white">Franch</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-dark rounded overflow-hidden">
                            <div class="position-relative" style="aspect-ratio: 2/3;">
                                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546215/preme3_nq3euh.jpg" class="w-100 h-100 object-fit-cover rounded"
                                    alt="...">
                                <div class="mt-3">
                                    <h5 class="mb-0 fw-semibold">Drop</h5>
                                    <h5 class="text-white">English, Hindi</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-dark rounded overflow-hidden">
                            <div class="position-relative" style="aspect-ratio: 2/3;">
                                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546215/preme4_z4a8fm.jpg" class="w-100 h-100 object-fit-cover rounded"
                                    alt="...">
                                <div class="mt-3">
                                    <h5 class="mb-0 fw-semibold">Ninja</h5>
                                    <h5 class="text-white">English</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="bg-dark rounded overflow-hidden">
                            <div class="position-relative" style="aspect-ratio: 2/3;">
                                <img src="https://res.cloudinary.com/dostiennt/image/upload/v1749546216/preme5_eqmtto.jpg" class="w-100 h-100 object-fit-cover rounded"
                                    alt="...">
                                <div class="mt-3">
                                    <h5 class="mb-0 fw-semibold">Minecraft</h5>
                                    <h5 class="text-white">English, Hindi</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
    </section>
</div>
{% endblock body %}