{% load static %}
{% extends 'base.html' %}

{% block title %}CinePlus | Booking History{% endblock title %}
{% block body %}

<div class="container py-5">
    <h2 class="text-center mb-5 fw-bold text-dark">My Booking History</h2>

    {% if bookings %}
    <div class="row justify-content-center">
        {% for booking in bookings %}
        <div class="col-lg-6 col-md-8 mb-4">
            <div class="card border-0 shadow-lg rounded-4">
                <div class="card-header bg-danger text-white rounded-top-4">
                    <div class="d-flex align-items-center">
                        <img src="{{ booking.movie.poster.url }}" alt="{{ booking.movie.name }}"
                            class="me-3 rounded shadow" style="height: 80px; width: 60px; object-fit: cover;">
                        <div>
                            <h5 class="mb-1 fs-4">{{ booking.movie.name }}</h5>
                            <small class="d-block fs-6"><strong class="fs-5">Show Timing:</strong> {{ booking.theater.datetime|date:"M d, Y - h:i A" }}</small>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <p class="mb-2"><strong>Theater:</strong> {{ booking.theater.name }}</p>
                    <p class="mb-2"><strong>Total Seats:</strong> {{ booking.seats.all.count }}</p>
                    <p class="mb-2"><strong>Seats:</strong>
                        {% for seat in booking.seats.all %}
                        <span class="badge bg-dark me-1">{{ seat.seat_number }}</span>
                        {% endfor %}
                    </p>
                    <p class="mb-2"><strong>Amount Paid:</strong> {{ booking.amount }}</p>
                    <p class="mb-2"><strong>Booking Timestamp:</strong> {{ booking.booked_at|date:"M d, Y - H:i A" }}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-warning text-center mt-5 p-2 rounded-4 shadow-sm">
        <h5 class="mb-2">No Bookings Found</h5>
        <p class="mb-0">You haven't booked any tickets yet. Go to the movies page to start!</p>
    </div>
    {% endif %}
</div>

{% endblock body %}